body{
    margin: 0 30%;
   background-color: #323335;
   color: white;
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    
}
div{
    text-align: left;
    justify-content: left;
}